html {
  font-size-adjust: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
}

p {
  font-size: 1.2rem;
}

small {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  text-align: center;
}

/* Form styles */

.form {
  display: grid;
  width: 90%;
  margin: 0 auto;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0.3em;
}

.input, .button {
  padding: 0.5em;
  border-radius: 0.2em;
  border: solid 1px #333;
}

.input {
  font-size: 1.3rem;
}

.button {
  margin-top: 0.3em;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #4e4e4e;
  color: white;
  transition: background-color 250ms;
}

.button:focus,
.button:hover {
  background-color: #333;
}

@media (min-width: 600px) {
  .form {
    max-width: 600px;
  }
}

/* Movie list */

.movie__list {
  display: grid;
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.movie__list-item {
  max-width: 100%;
}

.movie__image {
  width: 100%;
}

@media (min-width: 600px) {
  .movie__list {
    max-width: 600px;
  }
}